<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="ISO-8859-1">
<title>aggiorna film - SW(revenge)</title>
<link rel="stylesheet" href="/style.css">

</head>

<body>

		<div id="logInOut">
			<div th:if="${userDetails}" th:object="${userDetails}">
				<span th:text="*{username}"></span> <a href="/logout">Logout</a>
			</div>
			<div th:unless="${userDetails}">
				<a href="/login">Login</a>
				<a href="/registration">Registrati</a>
			</div>
			</div>

<div><a href="/admin/indexMovies">pagina film</a></div>
<div th:if="${movie}">
<div><a th:href="@{'/admin/formUpdateMovie/' + ${movie.id}}">Torna indietro</a></div>
</div>

<form th:action="@{'/admin/updateInfo/' + ${movie.id}}" th:object="${movie}" method="post">
<div>
<label>Cambia titolo : </label>
<input type="text" th:placeholder="*{title}" th:value="${newTitle}" name="newTitle">
</div>
<div>
<label>Cambia anno di uscita : </label>
<input type="number" th:placeholder="*{year}" th:value="${newYear}" name="newYear">
</div>
<div>
<button type="submit">Conferma</button>
<button type="reset">Resetta</button>
</div>
</form>

  
</body>
</html>