<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>sezione film- SW(revenge)</title>
</head>
<body>


		<div id="logInOut">
			<div th:if="${userDetails}" th:object="${userDetails}">
				<span th:text="*{username}"></span> <a href="/logout">Logout</a>
			</div>
			<div th:unless="${userDetails}">
				<a href="/login">Login</a>
				<a href="/registration">Registrati</a>
			</div>
			</div>

<h1>SIW MOVIES - LA VENDETTA</h1>
<div><a href="/" method="get">Homepage</a></div>
<div><a href="/formSearchMovies/ByYear">Ricerca film per anno</a></div>
<div><a href="/formSearchMovies/ByTitle">Ricerca film per titolo</a></div>
<div><a href="/movies">Vedi tutti i film</a></div>
<div><a href="/admin/formNewMovie">Form per inserire un nuovo film</a></div>
<div><a href="/admin/manageMovies">Gestione films</a></div>

</body>
</html>