<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Info artista - SW(revenge)</title>
</head>
<body>

<h1>SIW MOVIES - LA VENDETTA</h1>

<div><a href="/indexArtists">torna alla pagina dei film</a></div>
<div th:if="${artist} == null">
ERRORE FILM
</div>
<div th_unless="${artist} == null">
<div th:object="${artist}">
<!-- identità -->
<div th:text="*{name} + ' ' + *{surname}">
</div>
<!-- date -->
<div> 
[
<span th:text="*{dateOfBirth}"></span>

<span th:if="*{dateOfDeath != null}">
--
<span th:text="*{dateOfDeath}"></span>
</span>
]
</div>

<div>FILMOGRAFIA</div>

<!-- filmografia : direzione-->
<div>
<span> film diretti : </span>
<span th:if="${directedMovies == null || directedMovies.isEmpty()}">
Non ha ancora diretto alcun film</span>
<span th:unless="${directedMovies == null || directedMovies.isEmpty()}"> 
<div th:each="directedMovie : ${directedMovies}" th:object="${directedMovie}">
<a th:text="*{title} + ' (' + *{year} + ')'"
   th:href="@{'/movies/' + *{id}}"></a>
</div>
</span>
</div>


<!-- filmografia : recitazione-->
<div>
<span> film recitati : </span>
<span th:if="${starredMovies == null || starredMovies.isEmpty()}">
Non ha ancora recitato in alcun film</span>
<span th:unless="${starredMovies == null || starredMovies.isEmpty()}"> 
<div th:each="starredMovie : ${directedMovies}" th:object="${starredMovie}">
<a th:text="*{title} + ' (' + *{year} + ')'"
   th:href="@{'/movies/' + *{id}}"></a>
</div>
</span>
</div>

</div>
</div>

</div>

</body>
</html>