<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>movies'section - SW(revenge)</title>
</head>
<body>

<h1>SIW MOVIES - LA VENDETTA</h1>
<div><a href="/">Torna indietro</a></div>
<div><a href="/formSearchMoviesByYear">Ricerca film per anno</a></div>
<div><a href="/formSearchMoviesByTitle">Ricerca film per titolo</a></div>
<div><a href="/movies">Vedi tutti i film</a></div>
<div><a href="/formNewMovie">Pagina per inserire nuovi film</a></div>
<div><a href="/admin/manageMovies">Pagina per gestire i film</a></div>

</body>
</html>