<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1>SIW MOVIES - LA VENDETTA</h1>
<h3 th:text="'Tutti i film usciti nel ' + ${year}"></h3>   

<div><a href="/indexMovies">Torna alla pagina dei film</a></div>
<div><a href="/formSearchMoviesByYear">Torna indietro</a></div>

<div th:if="${moviesFounded.isEmpty()}">
ATTENZIONE : NESSUN FILM USCITO IN TALE DATA</div>
<div th:unless="${moviesFounded.isEmpty()}">
<div th:each="movie : ${moviesFounded}">
<a th:href="@{'/movies' + '/' + ${movie.id}}"
   th:text="${movie.title} + ' (' + ${movie.year} + ')'"></a>
</div>
</div>


</body>
</html>